.button{
    background-color:#BF40BF;
    }
    .pstyle{
        font-size:20px;
        text-align:left;
        color:bisque;
        font-family:Arial, Helvetica, sans-serif;
        margin:10px;
    }